@media only screen and (max-device-width: 768px) {
  .visitors {
    width: 80% !important;
    margin-left: 10% !important;
  }
  #myModal {
    padding: 50% 0% !important;
  }
  .modal-content {
    width: 90% !important;
    font-size: 70% !important;
  }
  .form-border {
    margin-top: 12% !important;
  }
  .form-row {
    flex-direction: column;
  }
  .form-position {
    margin: 5% auto !important;
  }
  .mobile-hide {
    display: none;
  }
  .down-arrow {
    width: 7% !important;
    padding-bottom: 10% !important;
  }
  #upcoming-events .img-responsive {
    width: 100%;
  }
  #anim {
    width: 0; /* width of container */
  }
  #anim-mobile {
    width: 100% !important;
    margin-bottom: -10%;
  }
  .faculty {
    padding: 0 25% 0 25% !important;
  }
  .odd {
    padding: 0 25% 0 25% !important;
  }
  #contact-us i {
    margin-right: 3%;
  }
  .magazine-block {
    padding: 15% !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
  .img-blog {
    width: 80% !important;
  }
}
@media only screen and (max-device-width: 576px) {
  .down-arrow {
    padding-bottom: 40% !important;
  }
  .faculty {
    padding: 0 5% 0 5% !important;
  }
  .odd {
    padding: 0 5% 0 5% !important;
  }
}
.custom-navbar {
  box-shadow: 0px 1px 25px black;
}

#anim-mobile {
  width: 0;
}
.faculty {
  padding: 0 37.5% 0 37.5%;
}
.odd {
  padding: 0 37.5% 0 37.5%;
}

.bg-one p {
  color: white;
}
#about p {
  color: white;
}
.social-icon {
  background-color: #fefefe !important;
}
#our-team .member-meta span,
#our-faculty .member-meta span,
#contact-us h3,
#team-skills h2,
#about h2,
.bg-one h3,
#counter i {
  color: #e54029;
}
#contact-us,
.social-icon {
  background-color: #e6e6e6 !important;
}
#contact-us i {
  color: black !important;
}
#contact-us .contact-info h3 {
  margin-bottom: 3%;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
#testimonial h3 {
  color: #e54029;
}
#testimonial span,
#testimonial p {
  color: white;
}
.magazines-bg {
  background-image: url("../images/backgrounds/magazines-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.magazine-block {
  padding: 3%;
  margin-left: 2.7%;
  width: 30%;
}
.magazine-block:hover img {
  box-shadow: 2px 5px 15px black;
  transform: translate(-5px, -10px);
}
#broadcast .block {
  z-index: 1;
}
#upcoming-events .img-responsive {
  margin-bottom: 10%;
  box-shadow: 3px 3px 5px black;
  border-radius: 10px;
}
.down-arrow {
  width: 2.5%;
}
.form-bg {
  background-image: url("../images/backgrounds/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.form-block {
  text-align: center;
}
.form-row {
  display: flex;
  width: 75%;
  margin: Auto;
}
.form-position {
  color: white;
  margin: 0 auto;
  font-size: 150%;
}
.form-border {
  margin-top: 3.5%;
}
#form {
  display: none;
}
#myModal {
  display: block;
  position: fixed;
  z-index: 9999;
  padding: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #e5e5e5;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
  width: 60%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.visitors {
  width: 30%;
  margin-left: 35%;
  border: 1px solid #e54029;
  border-radius: 15px;
  padding: 1% 0%;
  margin-bottom: 2%;
}
