@media only screen and (max-device-width: 768px) {
  #anim {
    width: 0; /* width of container */
  }
  #anim-mobile {
    width: 100% !important;
  }
  .faculty {
    padding: 0 25% 0 25% !important;
  }
  .odd {
    padding: 0 25% 0 25% !important;
  }
  #contact-us i {
    margin-right: 3%;
  }
  .magazine-block {
    padding: 15% !important;
    width: 100% !important;
  }
  #counter .col-12 {
    display: block;
    width: 100% !important;
    padding: 2%;
  }
  #Our-Portfolios .icon i {
    font-size: 3rem !important;
    padding-top: 0% !important;
  }
  #counter .row {
    display: flex;
  }
}
@media only screen and (max-device-width: 576px) {
  .faculty {
    padding: 0 5% 0 5% !important;
  }
  .odd {
    padding: 0 5% 0 5% !important;
  }
}
.custom-navbar {
  box-shadow: 0px 1px 25px black;
}

#anim-mobile {
  width: 0;
}
.faculty {
  padding: 0 37.5% 0 37.5%;
}
.odd {
  padding: 0 37.5% 0 37.5%;
}

.bg-one p {
  color: white;
}
#about p,
#Our-Portfolios p {
  color: white;
}
.social-icon {
  background-color: #fefefe !important;
}
#our-team .member-meta span,
#alumni .member-meta span,
#our-faculty .member-meta span,
#contact-us h3,
#team-skills h2,
#about h2,
.media-heading a,
.bg-one h3,
#Our-Portfolios .icon,
#counter i {
  color: #e54029 !important;
}
#contact-us,
.social-icon {
  background-color: #e6e6e6 !important;
}
#contact-us i {
  color: black !important;
}
#contact-us .contact-info h3 {
  margin-bottom: 3%;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
.portfolio-bg {
  background-image: url("../images/backgrounds/portfolio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bg-3 {
  background-color: #ffffff;
}
.media-heading a:hover {
  color: white !important;
}
#counter .col-12 {
  display: inline-block;
  width: 30%;
  padding: 2%;
}
article {
  height: 70vh !important;
}
.blog-img {
  padding: 0 37.5% 0 37.5%;
}
.saadhya-bg {
  background-image: url("../images/backgrounds/saadhya.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.cardBox {
  float: left;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY(180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: #e54029;
}

.cardBox:nth-child(2) .card .back {
  background: #e54029;
}

.cardBox:nth-child(3) .card .back {
  background: #e54029;
}

.cardBox:nth-child(4) .card .back {
  background: #e54029;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}
#Our-Portfolios li {
  list-style-type: square;
}
#Our-Portfolios ul {
  padding: 0 25%;
  color: #e5e5e5;
  font-size: 100%;
}
#Our-Portfolios .icon i {
  font-size: 5rem;
  padding-top: 3%;
}
.cardBox ul {
  text-align: center !important;
  padding: 0;
  margin-left: 10%;
}
.cardBox ul li {
  font-size: 85%;
  text-align: left !important;
}
