@media only screen and (max-device-width: 768px) {
  #the-canvas {
    height: 65% !important;
  }
  #the-container {
    padding-top: 25%;
  }
  #prev {
    left: 0 !important;
    background-color: transparent;
    border: 0 !important;
    box-shadow: 0 !important;
  }
  #next {
    right: 0 !important;
    background-color: transparent;
    border: 0 !important;
  }
}
#the-canvas {
  height: 90%;
  transition: width 2s;
}
.latest-magazine {
  bottom: 0;
  padding: 0px 0px !important;
  height: 100vh !important;
}
.latest-magazine iframe {
  height: 100%;
}
.latest-magazine #flipView {
  padding: 15% !important;
}
.custom-navbar {
  box-shadow: 0px 1px 25px black;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
#the-container {
  background-image: url("../images/magazines-bg.jpg");
  height: 100vh;
}
.page-info {
  display: none;
}
#prev {
  top: 50%;
  left: 5%;
  position: absolute;
}
#next {
  top: 50%;
  right: 5%;
  position: absolute;
}
.btn {
  border-radius: 50% !important;
}
